:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(111, 180, 22, 0.87);
  background-color: whitesmoke;

}


body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  background-color: #f5f5f5;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect fill="rgba(0,0,0,0.02)" x="0" y="0" width="50" height="50"/><rect fill="rgba(0,0,0,0.04)" x="50" y="0" width="50" height="50"/><rect fill="rgba(0,0,0,0.06)" x="0" y="50" width="50" height="50"/><rect fill="rgba(0,0,0,0.08)" x="50" y="50" width="50" height="50"/></svg>');
}
 /*in the above code, we are using a data URL to embed an SVG image directly into the CSS. This is a great way to include small images in your CSS without making an additional HTTP request. also this code apply to all the home pages of each section of the website.   anyone who will  edit the code dont erase this comment, it helps to another dev to understand.
*/
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
  color: #3093e4;
  margin: 0.5em 0;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f34a4a;
  text-transform: uppercase;
  text-align: space-around;
  text-decoration: darkgray;
  justify-content: space-evenly;
  margin: 2em;
  display: inline-block;
  
  
}
button:hover {
  border-color: #d10808;
  color: #2963d6;
}

/* styles.css */
.round-button {
  border: 1px solid transparent;
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f34a4a;
  text-decoration: darkgray;
  justify-content: space-evenly;
  margin: 0.5em;
  display: inline-block;
  border-radius: 50%;
}

.round-button:hover {
  border-color: #f086e4;
  
}


